<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
	<p><%=message%></p>
	<%-include('widgets/blog-info',{blogList,title})%>
  <%-include('widgets/user-info',{isFollow})%>



内容<input id="content"/><br>
    <button id="btn">登陆</button>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    $("#btn").on('click',function(){
        $.ajax({
            type: 'POST',
            url: '/api/blog/createBlog',
            data: {
                content:$("#content").val(),
            },
            success: function(res){
                console.log(res)
            },
        });
    })
</script>
  </body>
</html>
